{% extends 'base.html.twig' %}

{% block title %}User control{% endblock %}

{% block body %}
    </style>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">User management</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                {# <li class="nav-item active">
                    <button id="select-all" class="btn btn-outline-success my-2 my-sm-0">Select all</button>
                </li>#}
                <li class="nav-item">
                    <button id="switch" class="btn btn-outline-success my-2 my-sm-0">Switch selected</button>
                </li>
                <li class="nav-item mx-3">
                    <button id="delete" class="btn btn-outline-danger my-2 my-sm-0">Delete selected</button>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <table id="table" class="table table-striped">
        <tr>
            <td class="active">
                <input type="checkbox" class="select-all checkbox" name="select-all" />
            </td>
            <th class="table-primary">ID</th>
            <th class="table-success">Username</th>
            <th class="table-warning">E-Mail</th>
            <th class="table-danger">Registration Date</th>
            <th class="table-info">Last Visit</th>
            <th class="table-light">Status</th>
        </tr>
        {% for user in users %}
            <tr id="row">
                <td class="active">
                    <input type="checkbox" class="select-item checkbox" name="select-item" value="{{ user.id }}" />
                </td>
                <td class="table-primary"><span class="js-user-id">{{ user.id }}</span></td>
                <td class="table-success">{{ user.username }}</td>
                <td class="table-warning">{{ user.email }}</td>
                <td class="table-danger">{{ user.registrationDate|date('Y-m-d H:i:s') }}</td>
                <td class="table-info">{{ user.lastVisit|date('Y-m-d H:i:s') }}</td>
                <td class="table-light"><span class="js-user-status">{{ user.status|capitalize }}</span></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/PanelActions.js') }}"></script>
{% endblock %}
